.Container {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100vh;
  color: var(--blanco);
  background-image: var(--backgroundDark);
  text-shadow: 0.4em 0.5em 1em var(--black);
}
.Container h1 {
  font-size: calc(2.2vh + 2.2vw);
  margin: 0 0 4% 0;
}
.Container h2 {
  text-shadow: none;
  font-weight: lighter;
  padding: 0 5% 3% 5%;
}

.Container-header {
  margin-top: 2%;
  margin-left: 4%;
  text-align: left;
}
.Container-header a {
  text-decoration: none;
  color: var(--turquesaOscuro);
  font-weight: bolder;
  font-style: italic;
  font-size: calc(1.1em + 1.1vw);
}

.Container-header a:hover,
.Container-nav a:hover,
.ContactForm.Button:hover {
  color: var(--principal);
  text-shadow: 0 0 1em var(--principal);
}

.Container-body {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2% 3% 2% 3%;
  border: 0.25em solid var(--principal);
  border-radius: 0.6em;
  background-color: var(--gris);
  box-shadow: var(--black) 0px 30px 90px, 0 0 1.5em 0.2em var(--principal);
}

.Container-body-under {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.Container-content {
  flex: 1;
  padding: 0 8% 0 8%;
}

.Container-nav,
.Container-ads {
  flex: 0 0 1em;
}

.Container-ads {
  display: flex;
  font-size: 1.5em;
  text-align: right;
  padding: 0 0.8em 0.6em 0;
  justify-content: right;
  column-gap: 0.4em;
}
.Container-ads img {
  width: calc(1.2vw + 1.7vh);
}

.Container-nav {
  order: -1;
  display: flex;
  font-size: calc(1vw + 0.9vh);
  text-align: left;
  justify-content: flex-end;
  column-gap: 1em;
  padding: 0.6em 1em 0 0;
}

.Container-nav a {
  text-decoration: none;
  color: var(--turquesaOscuro);
  font-size: 1.3em;
}

.content-Home {
  margin-top: auto 0 auto 0;
  font-size: calc(0.7em + 0.7vw);
}

.content-programador {
  color: var(--principal);
  font-size: calc(2.7vh + 2.9vw);
  text-shadow: 0 0 0.3em var(--principal);
  letter-spacing: 1px;
  animation: 3s glow infinite alternate;
}

.Container-footer {
  display: flex;
  font-size: calc(0.8vh + 0.8vw);
  justify-content: center;
  column-gap: 0.3em;
  margin-bottom: 0.8em;
  align-items: stretch;
}

.Container-footer img {
  width: calc(0.8vw + 1.1vh);
}

.Container-footer a {
  padding-top: calc(0.12vw + 0.12vh);
}

.ContactForm-Container {
  padding: 0 auto;
}

.ContactForm {
  font-size: calc(1.2vw + 1.2vh);
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  text-shadow: 3px 3px 5px var(--black);
}

.ContactForm.Button {
  font-size: calc(1vw + 1vh);
  align-self: flex-end;
  margin-left: auto;
  background: rgba(41, 41, 41, 0.219);
  border: 2px solid var(--principal);
  border-radius: 5px;
  color: var(--turquesaOscuro);
}

.ContactForm-input {
  font-size: calc(1vw + 1vh);
  width: 75%;
  border-radius: 5px;
  border: 2px solid var(--principal);
  background: rgba(41, 41, 41, 0.219);
  color: var(--turquesaOscuro);
  -webkit-text-fill-color: none;
}

.ContactForm-input.message {
  height: 15vh;
  resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--turquesaOscuro) !important;
}

@keyframes glow {
  from {
    color: var(--principal);
    text-shadow: 0 0 0.6em var(--principal);
  }
  to {
    color: var(--turquesaOscuro);
    text-shadow: 0 0 0.6em var(--grisOscuro);
  }
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .React-logo {
    animation: React-logo-spin infinite 5s linear;
    transition: 0.5s;
  }
  .React-logo:hover {
    animation: React-logo-spin infinite 2s linear;
  }
  .React-logo:hover:after {
    transition: 0.5s;
  }
}
